.hero {
    height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;

    .hero-content {
        max-width: 600px;
    }

    h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    p {
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }
}

.personais-logo{
    margin-bottom: 20px;
}