.title {
    font-weight: bold;
    color: var(--light-text);
}

.main-content-container {
    display: flex;
    height: 100vh;
}

.main-content {
    flex-grow: 1;
}

.sidenav {
    width: 250px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: var(--sidebar-bg);
}

.sidenav .spacer {
    flex-grow: 1;
}

.sidenav a {
    color: var(--light-text);
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.2s;
    font-weight: bold;
    font-size: 16px;
}

.sidenav i {
    margin-right: 10px;
}

.sidenav a:hover {
    background-color: #556273;
    color: white;
}

.sidenav a.active {
    background-color: #3d4a56;
    color: white;
}