.sidenav{
    width: 250px;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 40px);
    padding: 20px;
    background-color: var(--sidebar-bg);    
}

.sidenav a {
    color: var(--light-text);
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    background-color: var(--sidebar-bg);
    transition: background-color 0.2s;
}

.sidenav a:hover {
    background-color: var(--accent-hover);
}

.main-content{
    flex-grow: 1;
    margin: 20px;
}

