<div class="main-content-container">
  <div class="sidenav">
    <h1 class="title">PersonAIs</h1>
    <br>
    <a routerLink="/projects" routerLinkActive="active">
      <i class="fa-solid fa-layer-group"></i>
      Projects
    </a>
    <a routerLink="/generate-persona" routerLinkActive="active">
      <i class="fa-solid fa-gears"></i>
      Generate Persona
    </a>
    <div class="spacer"></div>
    <a routerLink="/profile" routerLinkActive="active">
      <i class="fa-solid fa-user"></i>
      Profile
    </a>
  </div>   
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>
