<div class="main-content-container">
  <div class="sidenav">
    <h1 class="title">PersonAIs</h1>
    <br>
    <a routerLink="/projects" routerLinkActive="active">
      <i class="fa-solid fa-layer-group"></i>
      Projects
    </a>
    <span class="group-splitter">Persona Creation</span>
    <a routerLink="/generate-persona" routerLinkActive="active">
      <i class="fa-solid fa-person"></i>
      Single
    </a>
    <a routerLink="/generate-bulk-personas">
      <i class="fa-solid fa-people-group"></i>
      Bulk
    </a>
    <a routerLink="/generate-group-personas">
      <i class="fa-solid fa-users"></i>
      Group
    </a>
    <span class="group-splitter">Persona Interaction & Simulation</span>
    <a routerLink="/chat-with-personas">
      <i class="fa-solid fa-comment"></i>
      Chat with Peronas
    </a>
    <div class="spacer"></div>
    <a routerLink="/profile" routerLinkActive="active">
      <i class="fa-solid fa-user"></i>
      Profile
    </a>
  </div>   
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>