.title {
    font-weight: bold;
    color: var(--light-text);
}

.main-content-container {
    display: flex;
    height: 100vh;
}

.sidenav {
    width: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: var(--sidebar-bg);
}

.sidenav a {
    color: var(--light-text);
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.2s;
}

.sidenav a:hover {
    background-color: var(--accent-hover);
}

.main-content {
    flex-grow: 1;
}
  