.layout-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.top-element {
    border-bottom: 1px solid #b3b4b7;
    border-right: 1px solid #b3b4b7;
    border-left: 1px solid #b3b4b7;
    text-align: center;
    padding: 20px;
}

.bottom-container {
    flex-grow: 1;
    display: flex;
    width: 100%;
}

.bottom-element-1 {
    flex: 1;
    border-left: 1px solid #b3b4b7;
    border-right: 1px solid #b3b4b7;
    text-align: center;
    padding: 20px;
}

.bottom-element-2 {
    width: 400px;
    border-right: 1px solid #b3b4b7;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.fancy-textarea {
    height: 150px;
    padding: 10px;
    font-size: 16px;
    font-family: "M PLUS Rounded 1c", Helvetica, Arial, sans-serif;
    border: 1px solid #b3b4b7;
    border-radius: 8px;
    resize: none;
    outline: none; 
}

.persona-count{
    height: 20px;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #b3b4b7;
    outline: none; 
    font-family: "M PLUS Rounded 1c", Helvetica, Arial, sans-serif;
}

.generate-persona-button {
    margin-top: auto;
    color: white;
}

.generate-persona-button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}